# Go binaries and build output
*.exe
*.out
*.log
/bin/
/build/
/dist/

# Dependency folders
node_modules/

# IDEs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Git & Docker
.git
.gitignore
.dockerignore

# Misc
coverage/
.env
